/* Universal Stylings */

html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: white;
}

body {
  line-height: 1.4rem;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 1rem;
}

/* Header */

.header {
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  height: 30rem;
}

.navigation {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

.nav {
  padding: 1rem 0;
}

li {
  display: inline;
  padding-right: 2rem;
}

.banner {
  justify-content: flex-end;
  align-items: flex-end;
  height: 13rem;
}

.headline {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  position: relative;
  left: 2rem;
}

/* Icons */

.icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 5rem;
  height: 8rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.paper {
  width: 3.5rem;
}

.ruler,
.truck {
  width: 5rem;
}

/* About */

.about {
  justify-content: center;
}

.info {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 0 2.5%;
  margin-bottom: 5rem;
}

#title {
  width: 10rem;
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

/* Copyright */

.copyright {
  background-color: azure;
  align-items: center;
}

.copyright img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
